.footer__link {
  display: flex;
  gap: 4px;
  outline: none;
  text-decoration: none;
  color: var(--gray-200);
  align-items: center;
  justify-content: center;
}

.footer__link-icon {
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transform: rotate(0deg);
  height: 24px;
  width: 24px;
}

.footer__link:hover .footer__link-icon {
  transform: rotate(360deg);
}
