p {
  color: var(--gray-700);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
}

ion-button {
  --border-radius: var(--button-radius);
}

.form-section {
  flex: 1;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-blue);
  border-radius: 18px;
  margin: 18px;
}

.footer-section {
  width: 100%;
  display: flex;
  padding-block: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

@media screen and (max-width: 650px) {
  .form-section {
    margin: 0;
    border-radius: 0;
  }
}
